# macOS system files
.DS_Store

# Python cache files
__pycache__/
*.pyc

# Temporary files and logs
*.tmp
*.swp
*.log

# Existing rules
LipidCruncher/*.json
lipidcruncher_env/

# IDE/editor config files (optional, if you use these)
.idea/
.vscode/

